<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basketball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,226},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,450},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,562},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,674},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>basketball_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,786},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basketball_1.png</string>
            <key>size</key>
            <string>{226,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:106b2b564786079ab412df057bbde4e0:f71b72b5301c4d304755a242d7f5ff61:891b690895f8dc16d51d812e783526a7$</string>
            <key>textureFileName</key>
            <string>basketball_1.png</string>
        </dict>
    </dict>
</plist>
