<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basketry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>basketry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>basketry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>basketry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>basketry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{98,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>basketry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,95},{98,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>basketry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,95},{98,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>basketry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,95},{98,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ballWang.png</string>
            <key>size</key>
            <string>{402,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec680de25c8ca0560de3bf48a3adf35f:d8844594a1c02df8ce9a65ce967be170:0d154f871f4e89b65bb5d694d25b8e8a$</string>
            <key>textureFileName</key>
            <string>ballWang.png</string>
        </dict>
    </dict>
</plist>
